.navigation {
    display: flex;
    transform: rotate(0deg) translate(0px, 0px);
    transition: 0.5s;
}
.navigation a {
    text-decoration: none;
    cursor: pointer;
}



.container {
    display: flex;
    cursor: pointer;

}

.changeContainer {
    display: flex;
    -webkit-transform: rotate(0deg) translate(-100px, 0px);
    transform: rotate(0deg) translate(-260px, 0px);
    transition: 0.5s;
}

.bar1, .bar2, .bar3 {
    cursor: pointer;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 2px;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-10deg) translate(-20px, 1px);
    transform: rotate(-25deg) translate(-2px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(10deg) translate(-2px, -2px);
    transform: rotate(25deg) translate(-2px, -4px);
}

